body {
    font-family: sans-serif;
    margin: 0;
    padding: 0 !important;
    background: #343a40;
    overflow: auto;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: brightness(0.5);
}