h2 {
    font-size:2rem; background: rgba(0, 0, 0, .8);
}

#click-to-action {
    height: 70%;
}

.destaques-buttons {
  transform: translateY(175px);
  pointer-events: none
}

.destaques-buttons button {
  display: none;
  height: fit-content;
  pointer-events: auto;
}