.social-media-icon {
    font-size: 24px;
    color: white;
    background-image: linear-gradient(green, lightgreen, green)
}

.libutton:hover,
.social-media-icon:hover {
    color: white !important;
}