body {
    background-image: url(../../../../img/jogos/combo-memo/bg-combo-memo.png);
    background-position: center;
    background-attachment: fixed;
}
.platform {
    padding: 2rem;
    text-align: center;
}

.platform .container p {
    font-family: sans-serif;
    font-size: 1.4rem;
    font-family: 'Ubuntu';
    margin: 1rem auto;
    max-width: 600px;
    color: yellow !important;
    -webkit-text-stroke: .7px #000;
}
header {
    background-image: url(../../../../img/jogos/combo-memo/platform/wood.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    margin: 1rem auto;
    padding: 14px;
    max-width: 600px;
    border: 1px solid white;
}

header img {
    max-width: 200px;
}

h1 {
    font-size: 2rem;
    margin-top: 1rem;
    color: yellow !important;
    -webkit-text-stroke: 2px orange;
    filter: drop-shadow(0 0 .2rem yellow);
    background-color: darkslategray;
}

#jogar-agora {
    display: inline-block;
    padding: 12px 24px;
    background-color: #f30012;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1rem;
    height: fit-content;
    width: fit-content;
}

footer {
    margin-top: 3rem;
    font-size: 0.9rem;
    max-width: 600px;
}

.platform .container {
    background-color: darkslategrey;
    width: fit-content;
    border: 1px solid white;
    margin-bottom: 20px !important;
    min-width: 0 !important;
} 